<div class="container" ng-controller="CustomerIndexController as customerIndexCtrl">
  <input type="text" class="form-control" placeholder="New customer name" ng-model="customerIndexCtrl.newCustomer.name">
  <p>
    customerIndexCtrl.newCustomer: {{customerIndexCtrl.newCustomer.name}}
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal" ng-submit="customerIndexCtrl.createCustomer()">
        <fieldset>
          <legend>Add a New Customer</legend>

          <div class="form-group">
            <label class="col-md-4 control-label">Customer Name</label>
            <div class="col-md-4">
              <input ng-model="customerIndexCtrl.newCustomer.name" class="form-control input-md" type="text" name="name" value="">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-4">
              <button class="btn btn-primary">Save Customer</button>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
  </div>

  <div ng-repeat="customer in customerIndexCtrl.customers" class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            {{customer.name}}
          </div>

          <div class="panel-footer">
            <button class="btn btn-danger" ng-click="customerIndexCtrl.deleteCustomer(customer)">Remove Customer</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
